h1{
    text-align: center;
    text-decoration: underline;
}

.more{
    background-color: seagreen;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.lightblue{
    background-color: lightblue;
}

.silver{
    background-color: silver;
}